@charset "UFT-8";
/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768 até 992
Desktop: 992 até 1200px
Grantes telas: acima de 1200 */

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    section#login{
        width: 80vw;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#form{
        float: right;
        width: 70%;
        height: 100%;
    }

}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    section#login{
        width: 950px
    }
    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    div#form{
        float: left;
        width: 50%;
        height: 100%;
    }
}