@charset "UTF-8";
/* Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82 */

 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

 }  
 body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
 }
 main {
    position: relative;
    height: 100vh;
    width: 100vw;
   
 }
 section#login >div#imagem {
   background-image: url(../imagens/metal.jpg);
   height: 200px;
   width: 300px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left bottom;
   display: block;
 }


 section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    overflow: hidden;
    
    transition: width 1s, height 1s ;
    transition-timing-function: ease;
    
}
 section>div#formu{
    display: block;
    padding: 10px;
}
div#formu>h1{
   text-align: center;
   margin-bottom: 10px;
}  
div#formu>p{
   font-size: 0.8em;
}
form>div.campo{
   background-color: #5f2c82;
   display: block;
   width: 100%;
   height: 40px;
   border-radius: 5px;
   margin: 5px 0px;


}


form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #53aaa7;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
form > input[type=submit]:hover{
   background-color: #054240f1;
}  
form > a.botao{
   display: block;
   text-align: center ;
   font-size: 1em;
   width: 100%;
   height: 40px;
   padding-top: 5px;
   margin-top: 5px;
   color: #054240f1;
   border: 1px solid #49a09d;
   border-radius: 5px;
   text-decoration: none;
   
 
  }
  form > a.botao:hover{
    background-color: #49a09d;;
  }
  


  
